body {
  background-color: whitesmoke;
}

#board-area {
  
}

.row-element {
  display: flex;
  flex-direction: row;
}

.cell-element {
  min-width: 2rem;
  max-width: 2rem;
  min-height: 2rem;
  max-height: 2rem;
  border: 3px solid;
}

.open-cell {
  background-color: white;
}

.closed-cell {
  background-color: black;
}

.start-element {
  background-color: darkgoldenrod !important;
}
.target-element {
  background-color: greenyellow !important;
}
